
body{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 660px;
}
.main{
    width: 100%;
  
}
.main img{
    width: 101%;
    height: 230px;
}
#slide{
    width: 100%;
    height: 400px;
}
.main-items{
    display: flex;
 
    width: 100%;
    margin-top:107px;
}
.parent-items{
   
    height: 400px;
 
    width: 250px;

    text-align: center;
    overflow:hidden
}
.parent-items h1{
    color:gray;
    font-size: 20px 

}







#parent-pages{
    display: flex;
    
    background-color: rgb(238, 228, 228);
  
    justify-content:right;
   
    width: 100%;
    margin-bottom: 10px;
}
#child-pages{
    width: 90%;
    display: flex;
    justify-content: space-around;
}


.pages{
 margin-right: 10px;
 font-size: 15px;
 
}
#page1{
    color: orangered;
}





#nav-add{
    width: 20%;
    height:45px ;
}
#logo1 {
    width: 10%;
    height: 42px;
   
    margin-right: 10px;

}
#cart1{
    
    width: 60px;
    height: 45px;

margin-left: 10px;
background-color: aqua;


    z-index:2 ; 

}
#main-nav{ 
    background-color:white;
     display: flex; 
     height: 115px; ;
     flex-direction: column;
    align-items:center; 
     justify-content: center;

    position: fixed;
    width: 100%;
    margin: 0px;
    top:0px;
    left:0px;
    right: 0px;
    box-shadow: 2px 3px 3px gray; 
}
#input{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
#input input{
    width :50%;
  
    background-image: url("photos/images\ \(2\).png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 8px;
    font-size: 16px;
    padding-left: 20px;
    border: none;
    background-color: rgb(248, 237, 234);

    
    
}
#input input:focus{
    background-image:none ;
    box-shadow: inset 1px 1px 4px gray;
    
}









.main-branch{
    display: grid;
    grid-template-columns: repeat(3,auto);

    text-align: center;

}


.branches-parent{ 
    
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 43px 45px 0px;
 
    align-items: center;

    box-shadow: 2px 2px 5px gray;
    text-align: center;
    margin-left: 5px;
}


.branches-parent img{
    width: 50px;
    height: 80px;
    padding: 10px;
    
}
.br-h1{
    margin-left: 5px;
    font-size: 22px;
}
.hidden1{

    display: none;
}
 




/* categories */
.heading{
  
display: flex;
height:auto;


font-weight: bold;

margin-top: 40px;
}
.heading h1{
    font-size: 30px;
  
    width: 100%;
  
    align-self: flex-end;
 
    margin: 0px;
    
}

#aa{

    text-align:right;
}
#aa a{
 
    text-decoration: none;
    font-size: 18px;
    color: rgb(13, 142, 228);
}
.aa-1 a{
    border: 2px solid orangered;
    text-decoration: none;
    font-size: 18px;
    color: orangered !important;
}


.splash{
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.time{
    display: flex;
    width: 300px;
 
    height: 30px;
    justify-content: space-around;
  
}
.parent-time{
    width: 50px;
    height: 24px;
    color: white;
    background-color: orangered ;   
}
.parent-time1{
    width: 40px;
    height: 25px;

    font-size: 25px;
    background-color: white ;
    margin: 2px;

}
.flash h1{

    font-size: 25px;
    color:black;
    padding-left: 10px;
    margin: 0px;
    
}
.time h1{
    color:white;
    font-size: 25px;
    margin: 0px;
   
    padding-left: 15px;
    
}
.time h2{
    margin: 0px;
}

.splash h1{
    width: 150px;
    margin: 0px;
}
#splash-link {
    width: 200px;
}
.flash{
    display: none;
    background-color: orangered;
}
#flash{

    font-size: 18px;
   margin : 0px;
   padding-left: 10px;

}
.flash>h1{
    margin-right: 8px;
}


.main-splash{
 
    display: grid;
    grid-template-columns: repeat(6,auto) 
   
}
.cate-parent-1{
    text-align: center;
    box-shadow: 2px 2px 6px gray;
    margin: 2px;
    font-size: 10px;

   
}
.cateimg-1{
    width :100%;
    height: 80px;
}


.main-categories{
  
    
    display: grid;
    grid-template-columns: repeat(5,auto)

}

.cate-parent{

    text-align: center;
    box-shadow: 2px 2px 6px gray;
    margin: 2px;
    font-size: 12px;

}
.cateimg{
    width :100%;
    height: 120px;
    
}



/* for you section */






.main-foryou{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    
}

.foryou-parent{
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 6px gray;
    margin: 2px;
 
}
.foryou-parent img{
    width :100%;
    height: 193px;
    
}
h3{
    font-size: 12px;
    color: red;
}

.foryou-hidden ,.foryou-parent h1{
    display: none;
}








#load{

    text-align:center;
    margin-top: 90px;
}

    #load a{
    border: 2px solid rgb(13, 142, 228);
    text-decoration: none;
    color: rgb(13, 142, 228);
    font-size: 30px;
    padding: 10px 135px;
}



/* collection */




.main-collection{
    
    display: grid;
    grid-template-columns: repeat(3,auto)

}

.coll-parent{

    text-align: center;

    box-shadow: 2px 2px 6px gray;

    font-size: 12px;

}
.coll-parent img{
    width :30%;
    height: 100px;
    margin:5px
    
}
#loor{
    height: auto;
    background-color: royalblue;
    display: flex;
   
    
}
.lorem{
    font-size: 1fr;

    width :230px;
    padding: 20px ;
}
#lorem-main-img{
 
    width: 100%;
    margin-left: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:center;
  
    justify-content: center;
}
#loor-img-1{
    width: 30%;
    margin-top: 20px;
    height: 20%;
}
#loor-img-2{
    width: 50px;
    margin-top: 20px;
}
#loor-img-3{
    width: 40%;
    margin-top: 20px;
    height: 20%;
}


#base1{
    width: 100%;
    height: 350px;

}
#base2{
    width: 100%;
    height: 250px;

}
#base3{
    width: 100%;
    height: 350px;
}




/* base logos */
.main-logo{
    margin-top: 20px;
    display: flex;
    


}
.logo-base{
    box-shadow: 2px 2px 3px gray;
    width: 100%;
    text-align: center;
}

.logo-imgs{
    padding: 10px;
    width: 40px;
    height: 25px;
}




.footer{
text-align:center;
height: 70px;
background-color: rgb(248, 237, 234);
margin-bottom: 50px;
}
.footer h5{
height: 0px;
}
.footer p{
font-size: 10px;
color: rgb(13, 142, 228);
}






.main-fixed-footer{
    background-color: whitesmoke;
    height: 55px;
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px

    
    
}
.fixed-footer{
    margin: 5px;
    text-align: center;
    width:100%
    
}

    .fixed-footer p{

        height: 0px;
  
        margin: 0px;
    }
#footer-img1{
    width: 40px;
    height: 25px;
}
#footer-img2{
    width: 25px;
    height: 25px;
}
#footer-img3{
    width: 40px;
    height: 25px;
}
#footer-img4{
    width: 40px;
    height: 25px;
}





